.container{
    text-align: center;
    align-content: center;
    height: 300px;
    width: 300px;
    background-color: cadetblue;
}
.button{
    height: 30px;
    width: 120px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}