.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.price{
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color:darkcyan
    
}
.button{
    height: 30px;
    width: 120px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}